@use "utils" as *;
@use "global" as *;

.pastEventsSection {
  position: relative;
  display: flex;
  flex-direction: column;
}
.pastEvents {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  margin: 13px 0px 33px 6.51%;
  width: 345px;
  max-width: 85%;
}
.pastEventsHeader {
  position: relative;
  display: flex;
  gap: 0px 13px;
  @include tn {
    column-gap: 8px;
  }
}
.pastEventsIcon {
  position: relative;
  margin: 6px 0px 0px;
  width: 32px;
  height: 29px;
  object-fit: cover;
}
.pastEventsTitle {
  position: relative;
  font: 700 29px/1.2 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  @include md {
    align-items: flex-start;
    font-size: 26px;
  }
  @include xxs {
    font-size: 24px;
  }
}
.pastEventDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 4px;
}
.pastEventImage {
  position: relative;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
}
.pastEventHighlight {
  position: relative;
  margin: 11px 13px 0px;
  font: 700 18px/1.22 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  @include md {
    align-items: flex-start;
    font-size: 16px;
  }
  @include tn {
    margin: 11px 8px 0px;
  }
}
.pastEventDateRow {
  position: relative;
  display: flex;
  gap: 0px 10px;
  margin: 31px 13px 0px;
  @include tn {
    column-gap: 8px;
    margin: 31px 8px 0px;
  }
}
.pastEventDateIcon {
  position: relative;
  width: 25px;
  height: 19px;
  object-fit: cover;
}
.pastEventDateInfo {
  position: relative;
  margin: 3px 0px 1px;
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.pastEventStats {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 13px 0px 0px 9px;
  width: 206px;
  max-width: 85%;
  @include tn {
    column-gap: 8px;
    margin: 13px 0px 0px 8px;
  }
}
.pastGoingCountRow {
  position: relative;
  display: flex;
  gap: 0px 5px;
  margin: 0px 0px 2px;
  width: 90px;
  min-width: 0px;
}
.pastGoingCountIcon {
  position: relative;
  width: 34px;
  height: 27px;
  object-fit: cover;
}
.pastGoingCountInfo {
  position: relative;
  margin: 5px 0px 7px;
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.pastPriceInfoRow {
  position: relative;
  display: flex;
  gap: 0px 4px;
  margin: 2px 0px 0px;
  width: 69px;
  min-width: 0px;
}
.pastPriceIcon {
  position: relative;
  width: 35px;
  height: 27px;
  object-fit: cover;
}
.pastPriceInfo {
  position: relative;
  margin: 3px 0px 9px;
  font: 400 12px/1.25 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
