@use "utils" as *;
@use "global" as *;

.section4 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.flex_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 35px auto 119px;
  width: 87.28%;
  max-width: 1193.984375px;
  padding: 0px 122px 0px 0px;
  @include lg {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
  @include md {
    padding: 0px 32px 0px 0px;
  }
  @include xs {
    margin: 35px auto 80px;
    padding: 0px 16px 0px 0px;
  }
  @include tn {
    margin: 35px auto 50px;
    padding: 0px 8px 0px 0px;
  }
}
.highlight1 {
  position: relative;
  margin: 9px 0px 66px;
  width: 487px;
  font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  @include lg {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 495px;
  min-width: 0px;
  @include lg {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.highlight3 {
  position: relative;
  font: 700 18px/1.22 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: -0.4px;
  @include md {
    align-items: flex-start;
    font-size: 16px;
  }
}
.content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 16px 0px 0px 2px;
  width: 397.96875px;
  max-width: 85%;
  background-color: rgba(217, 217, 217, 0.298);
  border-radius: 10px 10px 10px 10px;
  outline: 2px solid rgba(0, 0, 0, 0.309);
  outline-offset: -2px;
}
.content_box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 16px 0px 0px 2px;
  width: 397.96875px;
  max-width: 85%;
  // background-color: rgba(217, 217, 217, 0.298);
  // border-radius: 10px 10px 10px 10px;
  // outline: 2px solid rgba(0, 0, 0, 0.309);
  // outline-offset: -2px;
}
.image5 {
  position: relative;
  margin: 102px 15px 16px auto;
  width: 29px;
  height: 29px;
  object-fit: cover;
  @include xs {
    margin: 80px 15px 16px auto;
  }
  @include tn {
    margin: 50px 8px 16px auto;
  }
}
.flex_row1 {
  position: relative;
  display: flex;
  gap: 0px 7px;
  margin: 33px 2px 0px;
}
.image4 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.highlight11 {
  position: relative;
  margin: 2px 0px 3px;
  font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.flex_row2 {
  position: relative;
  display: flex;
  gap: 0px 9px;
  margin: 18px 0px 0px 2px;
  @include tn {
    column-gap: 8px;
  }
}
