@use "utils" as *;
@use "global" as *;

.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.flex_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 38px auto 9px;
  width: 356px;
  max-width: 85%;
  padding: 0px 16px 0px 0px;
  @include tn {
    column-gap: 8px;
    padding: 0px 8px 0px 0px;
  }
}
.subtitle2 {
  position: relative;
  font: 700 22px/1.22 "Inter", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  @include md {
    align-items: flex-start;
    font-size: 20px;
  }
  @include xxs {
    font-size: 18px;
  }
}
.subtitle1 {
  position: relative;
  font: 400 22px/1.22 "Inter", Helvetica, Arial, serif;
  color: rgba(0, 0, 0);
  @include md {
    align-items: flex-start;
    font-size: 20px;
  }
  @include xxs {
    font-size: 18px;
  }
}
